<div  ng-init="init()" layout="column" flex="50" flex-offset="25" layout-align="space-between stretch">
    <h2>Editar contato</h2>
    <md-input-container>
        <label>Nome</label>
        <input type="text" ng-model="form.name" ng-model="color">
    </md-input-container>

    <md-input-container>
        <label>Email</label>
        <input type="text" ng-model="form.email" ng-model="color">
    </md-input-container>

    <md-input-container>
        <label>Twitter</label>
        <input type="text" ng-model="form.twitter" ng-model="color">
    </md-input-container>

    <md-input-container>
        <label>Telefone</label>
        <input type="text" ng-model="form.phone" mask="(99) 99999-9999" ng-model="color">
    </md-input-container>

    <div layout="row" layout-align="space-between center">
        <div>
            <md-button ng-click="back()">Voltar</md-button>
        </div>
        <div>
            <md-button ng-click="delete(form)" class="md-raised md-warn">Excluir</md-button>
            <md-button ng-click="save(form)" class="md-raised md-primary">Salvar</md-button>
        </div>
    </div>
</div>
